/*This is meant to mimic the style of a rotating aquarium night light*/

p {
    font-family: tahomaOld, serif;
    font-size: 16px;
    color: #ffffff;
}
h1 {
    font-family: tahomaOld, serif;
    color: #ffffff;
}
h2 {
    font-family: tahomaOld, serif;
    color: #ffffff;
}
h3 {
    font-family: tahomaOld, serif;
    color: #ffffff;
}
h4 {
    font-family: tahomaOld, serif;
    color: #ffffff;
}
h5 {
    font-family: tahomaOld, serif;
    color: #ffffff;
}
h6 {
    font-family: tahomaOld, serif;
    color: #ffffff;
}

hr {
    height: 2px;
    background-color: black;
}

html {
    background: url(images/fishtank.gif) no-repeat center fixed;
    background-size: cover;
  }

@font-face {
    font-family: 'tahomaOld';
    src: url('fonts/tahoma/tahoma.ttf'),
        url('fonts/tahoma/tahomabd.ttf');
    font-weight: normal;
    font-style: normal;
}

/* unvisited link */
a:link {
    color: rgb(164, 164, 164);
  }
  
  /* visited link */
  a:visited {
    color: rgb(211, 211, 211);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(244, 244, 244);
  }
  
  /* selected link */
  a:active {
    color: rgb(57, 57, 57);
  }